
.disactive {
    display: none;
}
.burgetoup {
    animation-name: burger-toup;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media (min-width: 768px) { 
    .disactive {
        display: flex;
    }
    .burgetoup {
        animation: none;
    }
}