//Colors
$black: #000000;
$white: #FFFFFF;
$pink: #EF8094;
$gray: rgba(196, 196, 196, .3);
$dark-white: #F5F8FF;
$light-black: #333333;
$light-gray: rgba(238, 238, 238, .3);
$light-pink: rgb(252, 229, 231);
$dark-gray: #4A4A4A;

//Fonts-style
$Sans: 'DM Sans', sans-serif;
$Serif: 'DM Serif Text', serif;
